
# --- API & Web Server ---
python-dotenv==1.1.1
pydantic_settings==2.10.1
uvicorn==0.35.0  
fastapi==0.116.1



# --- Database ---
qdrant-client==1.15.1
pymongo==4.13.2
motor==3.7.1
psycopg2-binary==2.9.10


# --- Data & Notebooks ---
# gspread==6.1.2  


# --- OpenAI & LLM ---
# openai==1.98.0
transformers==4.57.1
einops==0.8.1


apache-airflow==3.0.6 
SQLAlchemy==1.4.54
Flask-AppBuilder==5.0.0

jupyter
ipykernel
notebook==7.4.5
